@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: linear-gradient(270deg, #f64e07 0%, #4e0bf8 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color:aquamarine;
}

.navbar-nav .nav-link.active {
    color:rgb(143, 142, 142);

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 142);
}

.sidebar {
    color:aquamarine;
    background: linear-gradient(270deg, #f64e07 0%, #4e0bf8 100%);


}

.card {
    background: linear-gradient(270deg, #f64e07 0%, #4e0bf8 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #f64e07 0%, #4e0bf8 100%);
    border-top: solid;
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call {
    animation: myAnim 2s ease 1.5s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}







